<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Realtime Chat App</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <section class="users">
     <header>
        <div class="content">
           <img th:src="@{/images/__${userobj.image}__}" alt="">
            <div class="details">
                <span th:text="${userobj.fname}"></span>
            </div>
        </div>
        <a href="/user/logout" class="logout">Logout</a>
     </header>
     <div class="search">
        <span class="text">Select a user to start chat</span>
        <input type="text" placeholder="Enter name to search...">
        <button><i class="fas fa-search"></i></button>
     </div>
     
     <div class="users-list">
   
     
       
        <div th:each="userItem: ${userlist}">
        
         <header>
        
        <div class="content">
           <img th:src="@{/images/__${userItem.image}__}" 
               alt="">
               
            <div class="details">
               <span th:text="${userItem.fname}" > </span>
                <span th:text="${userItem.lname}" ></span>
            </div>
        </div>
         <a  th:href="@{/chat/{userId}(userId=${userItem.id})}">Chat</a>
        
     </header>
        </div> 
     </div>
      
     </section>
  </div>

  <script th:src="@{/javascript/users.js}"></script>
   <script type="text/javascript">
   
   function getUserDetails(userId) {
	   window.location.href = '/chat/' + userId; 
	}
   </script
   >
</body>
</html>
